
config.inc.php

# ignore cache files
cache/*
sources/*/cache/*

# ignore cookies
cookie.txt
sources/*/cookie.txt

# ignore logs
sources/*/*.log

# ignore data
sources/*/*.json

# experimental stuff
www/ignore


#svn
.svn*